body {
	font: arial
}

h4 {
	font-weight: bold;
}

.container {
	width: auto;
}

.row {
	margin-bottom: 100px
	margin-top: 100px;
}

.navbar {
	text-align: center;
}

.nav-item {
	text-decoration: none;
	color: #757573;
	margin: 0 55px;
	font-size: 20px;
}

.navbar p {
	margin-top: 10px;
}

.hero {
	background: url(images/150616_rendering_final.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  width: 100%;
  margin-top: -20px;
}

.intro-col-left {
	margin-top: 150px;
}

.date	{
	color: #00ED8D;
	font-weight: bold;
}

.about-left-col, .image-left-col, .sound-col1, .event-col1, .support-col1 {
	max-width: 550px;
}

.about, .images, .sound, .const, .events, .support {
	margin-top: 10%;
	padding-top: 100px;
}

.logos {
	margin-top: 223px;
	margin-left: 15%;
}

.logos img {
  display: inline;
  max-width: 150px;
  max-height: 57px;
  margin: 0 10px;
  width: auto;
  height: auto;
  float: left;
}

.second-sponsor {
	margin-top: 70px;
	margin-left: 33%;
}

.definition {
  margin-bottom: 35px;
  font-size: 95%;
}

.map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.map iframe,
.map object,
.map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
}


.images img {
	max-width: 350px;
	height: auto;
	/*width: 350px;*/
	margin: 10px;
}

.image-right-col {
  width: 50%;
}

.sound-col1 {
	margin-top: 85px;
}

.sound-col2 {
	margin-top: 118px;
}

/*.event-col1 {
	margin-top: 150px;
}*/

.event-col2 {
  margin-left: 17%;
  width: 48%;
}

.event-col2 img {
}

.support-col1 {
	margin-bottom: 100px;
}

@media (min-width: 768px) {
	width: 750px;
}

@media (min-width: 992px) {
	width: 970px;
}

@media (min-width: 1200px) {

}
